<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p>Voilà les quiestions</p>
    <p>
        {{ message }}
    </p>
    <div style="font-size: 100px;">{{ signe }}</div>
    <a title="Rechercher : Icons PowerPoint" class="check" href="/images/search?q=Icons+PowerPoint&amp;FORM=RESTAB" h="ID=images,6189.1"><div class="cico"><img height="42" width="42" src="https://th.bing.com/th?q=Icons+PowerPoint&amp;w=42&amp;h=42&amp;c=7&amp;rs=1&amp;p=0&amp;o=5&amp;dpr=1.3&amp;pid=1.7&amp;mkt=fr-FR&amp;cc=FR&amp;setlang=fr&amp;adlt=strict&amp;t=1" alt="Icons PowerPoint" data-thhnrepbd="1" data-bm="139"></div><div class="suggestion-title-wrapper" aria-hidden="true"><span class="suggestion-title" aria-hidden="true"><strong>Icons</strong><br>PowerPoint</span></div></a>



</body>
</html>
